html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	font-size: 62%;
}
body {
	margin: 0;
	color: var(--text-color);
	font-family: var(--font-family-base);
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-base);
	overflow-x: hidden;
}
main {
	display: block;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	text-decoration: none;
	&.nav-link {
		padding-left: 20px;
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
	}
	&:hover {
		color: var(--color-red);
	}
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
:root {
	--color-white: #ffffff;
	--color-red: #ff6565;
	--color-black: #090909;
	--color-grey: #a0a0a0;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--color-links-hover-active: #ff6565;
	--font-family-base: "Source Sans Pro", sans-serif;
	--font-size-small: 1.2rem;
	--font-size-medium: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-x-large: 2.3rem;
	--font-size-xx-large: 3.8rem;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--line-height-base: 1.5;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-title);
	font-weight: var(--font-weight-bold);
}
li {
	list-style-type: none;
	&.nav-item {
		margin-top: 25px;
	}
}
.header {
	width: 100%;
	height: 32px;
	position: absolute;
	z-index: 1;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header-container {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	flex-direction: column;
	margin-left: -50px;
}
.section-hero {
	width: 100vw;
	height: 100vh;
	padding-top: 62px;
	background: url(../images/background.png) no-repeat center center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
ul {
	&.nav {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: column;
		display: none;
	}
}
.hero-text {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	margin-top: 100px;
}
.section-body {
	color: var(--color-white);
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	p {
		font-size: var(--font-size-regular);
	}
}
.section-title {
	padding-top: 80px;
	font-size: var(--font-size-xx-large);
}
p {
	&.section-subtitle {
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-large);
	}
}
button {
	&.button-hero {
		margin-bottom: 50px;
		margin-top: 40px;
		padding: 20px;
		border-radius: 30px;
		width: 200px;
		border: none;
		background-color: var(--color-red);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		cursor: pointer;
	}
	&:hover {
		opacity: 0.9;
	}
}
.hero-description {
	width: 100%;
	height: 100%;
	line-height: 2;
}
@media {
	(max-width {
		&: {
			768px) {
				.section-hero {
    height: auto;
				.categories {
    flex-wrap: wrap;
				.results {
    height: auto;
			}
			480px) {
				.menu-hamburger {
    display: block;
				cursor: pointer;
				.input-data {
    width: 100%;
				.logo-social-media {
    padding: 0;
				height: 50%;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
		}
	}
}
} {
	.menu-hamburger {
		margin-right: 10px;
		margin-left: 10px;
		display: none;
		z-index: 2;
	}
	.menu-open {
		&:checked {
			& ~ .header-container {
				nav {
					ul {
						&.nav {
							display: flex;
						}
					}
				}
			}
		}
	}
	@media {
		(max-width {
			&: {
				480px) {
					.categories {
    flex-wrap: wrap;
					.results-poligons {
    flex-wrap: wrap;
				}
			}
		}
	}
	.results {
		width: 100vw;
		height: 100vh;
		background: url(../images/background-results.png) no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		color: var(--color-white);
	}
	.contact-form {
		width: 100%;
		height: 650px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	footer {
		width: 100%;
		height: 250px;
		background-color: #071629;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
input {
	display: none;
}
.menu-open-button {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	z-index: 1;
	margin: 0 20px;
	display: flex;
}
label {
	span {
		&.menu-line {
			width: 20px;
			border-top: 2px solid var(--color-white);
			padding: 2px;
		}
		&.menu-line-2 {
			width: 15px;
		}
	}
}
.what-we-do {
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	line-height: var(--line-height-base);
}
.what-we-do-description {
	width: 50%;
	height: auto;
	text-align: center;
	h1 {
		margin-bottom: 20px;
	}
}
.categories {
	margin-top: 30px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icons-work {
	width: 200px;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: transform 1s ease;
	margin: 5%;
	width: 40%;
	margin: 5%;
	width: 50%;
	&:hover {
		transform: scale(1.1);
		background-color: var(--color-red);
		color: var(--color-white);
		border-radius: 20px;
		img {
			filter: brightness(0) invert(1);
		}
		h3 {
			color: var(--color-black);
		}
	}
	h3 {
		margin-top: 20px;
		font-weight: var(--font-weight-bold);
	}
	p {
		margin-top: 20px;
	}
}
.result-description {
	margin: 30px 0;
	width: 60%;
	height: auto;
	text-align: center;
	h1 {
		margin-bottom: 20px;
		font-size: var(--font-size-x-large);
	}
}
.results-poligons {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 30px;
	flex-wrap: wrap;
	&:hover {
		.poligons {
			background-color: #f3f3f3;
			color: var(--color-black);
		}
	}
}
.poligons {
	width: 200px;
	height: 200px;
	margin: 5px;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	background-color: var(--color-red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-small);
	transition: background-color 1s ease;
	margin: 4%;
	width: 200px;
	margin: 5%;
	width: 200px;
	h1 {
		font-size: var(--font-size-xx-large);
	}
}
.poligon-1 {
	transition: all 0.1s;
}
.poligon-2 {
	transition: all 0.5s 0.2s;
}
.poligon-3 {
	transition: all 0.5s 0.3s;
}
.poligon-4 {
	transition: all 0.5s 0.4s;
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 500px;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: auto;
	height: 100%;
	input {
		border: none;
		margin-left: 8px;
		width: 100%;
		height: 100%;
	}
	textarea {
		align-self: flex-start;
		border: none;
		margin-left: 8px;
		width: 100%;
		height: auto;
		resize: none;
	}
	[type="submit"] {
		display: block;
		align-self: center;
		border-radius: 30px;
		width: 200px;
		height: 50px;
		margin-top: 20px;
		background-color: var(--color-red);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		cursor: pointer;
	}
	[type="submit"]:hover {
		opacity: 0.9;
	}
}
.input-data {
	width: 350px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;
	border-bottom: 1px solid var(--color-grey);
}
.logo-social-media {
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.social-media {
	ul {
		width: 300px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		justify-content: space-evenly;
	}
}
.social-item {
	margin-left: 30px;
	background-color: var(--color-white);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 7px;
	margin: 0;
}
svg {
	fill: #071629;
}
.license {
	color: var(--color-white);
	font-size: var(--font-size-small);
	text-align: center;
	width: 100%;
	height: 20%;
	p {
		padding-top: 60px;
		padding-top: 30px;
	}
}
.footer {
	height: 100%;
}
